body{
  background-image: url("CardGameimgs/elevated-earthbackground.jpg");
   background-size: 100% 100%;
}
#p2attackstack{
  height: 225px;
  width: 85%;
  margin: 0 auto;

}

#p1attackstack{
  height: 225px;
   width: 85%;
  margin: 0 auto;
}
/*This is the div for the whole board*/
.playerboard{
  width:100%;
  height:225px;
  border:1px solid #000;

}
/*This is the div for the action section of the whole playerboard*/
#attackboard{
  width: 70%;
  height: 99%;
  border: 1px solid green;
  padding: 10%px;
  /*margin-left: 3%;*/
  display: inline-block;

}
/*This is the right hand side, card stack*/
#playstackinnerbox{
  height: 100%;
  width:100%;
  background: url("cardgameimgs/card back.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  margin:0 auto;
  border-radius: 25px;
  text-align:center;

}
#playstack{
  width: 13%;
  height: 100%;
  float:right;
  border: 4px solid white;
  margin-top: 10 auto;
  border-radius: 25px;
  margin-right: 1%;

}
#playbuttonbox{
    background:teal;
  height: 50px;
  width: 50px;
  border: 2px solid;
  float: right;
  text-align: center;
}


.card{
  margin: 5px;
  width: 15%;
  height: 95% ;
  background: blue;
  cursor: pointer;
  list-style: none;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  max-width: 300px;
  vertical-align: top;
  border-radius: 25px;
  border: 3px solid black;
  background-image: url("CardGameimgs/cardbackground.png");
  background-size: cover;

}
.cardtext{
  height:10%;

  text-align: center;
}
.cardbody{
  height: 70%;
  background-size:100% 100%;
  background-repeat: no-repeat;
  margin:0 auto;

}
#cardbody1{
  background-image: url("CardGameimgs/card1.png");
  background-size: 100% 95%;
}
#cardbody2{
  background-image: url("CardGameimgs/card2.png");
  background-size: 100% 95%;
}

#cardbody3{
  background-image: url("CardGameimgs/card3.png");
  background-size: 100% 95%;
}

#cardbody4{
  background-image: url("CardGameimgs/card4.png");
  background-size: 100% 95%;
}

#cardbody5{
  background-image: url("CardGameimgs/card5.png");
  background-size: 100% 95%;
}

#cardbody6{
  background-image: url("CardGameimgs/card6.png");
  background-size: 100% 95%;
}
#cardbody7{
  background-image: url("CardGameimgs/card7.png");
  background-size: 100% 95%;
}

#cardbody8{
  background-image: url("CardGameimgs/card8.png");
  background-size: 100% 95%;
}
#cardbody9{
  background-image: url("CardGameimgs/card9.png");
  background-size: 100% 95%;
}
#cardbody10{
  background-image: url("CardGameimgs/card10.png");
  background-size: 100% 95%;
}



.player2{
  background-color: red;
}
#playcounter{
  height: 50px;
  width: 12%;
  border: 3px solid;
  float: right;
  text-align: center;
  margin-right: 1%
  padding-top:30px;
  background-image: url("CardGameimgs/counterbackground.jpg");
  background-size: cover;
  border-radius: 15px;

}

#buttoncenter{
  width: 100%;
  height: 100%;
  padding-top:100px;

}
